In [27]:
import pandas as pd

# 读取 CSV 数据
df = pd.read_csv('sales_data_sample.csv', encoding='latin1')

# 预览前几行
print(df.head())

# 查看字段信息
print(df.info())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB
None

In [28]:
# 将订单日期转换为 datetime 格式
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])

# 创建订单月份字段（格式：YYYY-MM）
df['Month'] = df['ORDERDATE'].dt.to_period('M').astype(str)

# 可选：添加年份列
df['Year'] = df['ORDERDATE'].dt.year

# 计算每一行订单的总销售额
df['TOTAL_SALES'] = df['QUANTITYORDERED'] * df['PRICEEACH']

# 预览新增的字段
df[['ORDERNUMBER', 'ORDERDATE', 'Month', 'TOTAL_SALES']].head()

   ORDERNUMBER  ORDERDATE    Month  TOTAL_SALES
0        10107 2003-02-24  2003-02      2871.00
1        10121 2003-05-07  2003-05      2765.90
2        10134 2003-07-01  2003-07      3884.34
3        10145 2003-08-25  2003-08      3746.70
4        10159 2003-10-10  2003-10      4900.00

In [ ]:
monthly_sales = df.groupby('Month')['TOTAL_SALES'].sum().reset_index()
monthly_sales['TOTAL_SALES'] = monthly_sales['TOTAL_SALES'].astype(float)
monthly_sales.to_csv('monthly_sales.csv', index=False, float_format="%.2f", encoding='utf-8-sig')

country_sales = df.groupby('COUNTRY')['TOTAL_SALES'].sum().reset_index()
country_sales['TOTAL_SALES'] = country_sales['TOTAL_SALES'].astype(float)
country_sales.to_csv('country_sales.csv', index=False, float_format="%.2f", encoding='utf-8-sig')

top_products = df.groupby('PRODUCTLINE')['TOTAL_SALES'].sum().reset_index()
top_products['TOTAL_SALES'] = top_products['TOTAL_SALES'].astype(float)
top_products.to_csv('top_products.csv', index=False, float_format="%.2f", encoding='utf-8-sig')